.cm-formatting.cm-formatting-task.cm-property {
	font-family: var(--font-monospace);
	font-size: 90%;
}

input[data-task=">"],
input[data-task="!"],
input[data-task="-"],
input[data-task="<"],
input[data-task="l"],
input[data-task="*"],
input[data-task="I"],
input[data-task="p"],
input[data-task="f"],
input[data-task="k"],
input[data-task="u"],
input[data-task="w"],
input[data-task="c"],
input[data-task="d"],
input[data-task="b"],
li[data-task=">"]>input,
li[data-task="!"]>input,
li[data-task="-"]>input,
li[data-task="<"]>input,
li[data-task="l"]>input,
li[data-task="*"]>input,
li[data-task="I"]>input,
li[data-task="p"]>input,
li[data-task="f"]>input,
li[data-task="k"]>input,
li[data-task="u"]>input,
li[data-task="d"]>input,
li[data-task="w"]>input,
li[data-task="c"]>input,
li[data-task="b"]>input,
li[data-task=">"]>p>input,
li[data-task="!"]>p>input,
li[data-task="-"]>p>input,
li[data-task="<"]>p>input,
li[data-task="l"]>p>input,
li[data-task="*"]>p>input,
li[data-task="I"]>p>input,
li[data-task="p"]>p>input,
li[data-task="f"]>p>input,
li[data-task="k"]>p>input,
li[data-task="u"]>p>input,
li[data-task="d"]>p>input,
li[data-task="w"]>p>input,
li[data-task="c"]>p>input,
li[data-task="b"]>p>input {
	&:checked {
		--checkbox-marker-color: transparent;
		border: none;
		border-radius: 0;
		background-image: none;
		background-color: currentColor;
		-webkit-mask-size: var(--checkbox-icon);
		-webkit-mask-position: 50% 50%;
	}
}

/* [/] Incomplete */
input[data-task="/"],
li[data-task="/"]>input,
li[data-task="/"]>p>input,
{
&:checked {
	background-image: none;
	background-color: transparent;
	position: relative;
	overflow: hidden;

	&:after {
		top: 0;
		left: 0;
		content: " ";
		display: block;
		position: absolute;
		background-color: var(--background-modifier-accent);
		width: calc(50% - 0.5px);
		height: 100%;
		-webkit-mask-image: none;
	}
}
}

/* [!] Important */
input[data-task="!"],
li[data-task="!"]>input,
li[data-task="!"]>p>input,
{
&:checked {
	color: var(--color-orange);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
}


/* [-] Canceled */
input[data-task="-"],
li[data-task="-"] > input,
li[data-task="-"] > p > input {
	&:checked {
		color:var(--text-faint);
		-webkit-mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E");;
	}
}

